numpy>=1.26,<2.0
scipy>=1.11,<1.15
Pillow
PyQt5
scenedetect[opencv]>=0.6.4
ultralytics>=8.3.0
opencv-python>=4.9.0,<5.0
torch>=2.2.0
omnishotcut @ git+https://github.com/UVA-Computer-Vision-Lab/OmniShotCut.git
